@font-face {
    font-family: 'Georgia';
    src: url('assets/fonts/georgia.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Georgia-bold';
    src: url('assets/fonts/georgia.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'Arial';
    src: url('assets/fonts/arialmt.ttf');
    font-weight: 400;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    max-width: 1280px;
    margin: 0 auto;
}

body {
    font-family: 'Georgia';
    margin: 0 auto;
}
header {
    background: url('/assets/images/start-screen-background.png'), 
    radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

.header-wrapper {
    display: flex;
    flex-direction: row;
    padding-top: 60px;
    padding-bottom: 60px;
    width: calc(100% - 6.25%);
    margin: 0 auto;
    
    
}

.logo {
    /* width: calc(100% - 84.666666666667%); */
}

h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    align-items: center;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    margin: 0;
    padding-bottom: 10px;
}

.logo p {
    font-family: 'Arial';
    font-size: 13px;
    line-height: 15px;
    align-items: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    margin: 0 auto;
    padding-left: 3px;
    /* width: calc(100% - 3.5%); */
    display: flex;
   flex-wrap: nowrap; 
}
.header-nav {
    margin-left: auto;
}

.list {
    padding: 0;
    margin: 0;
    padding-top: 16px;
}
.nav-list {
    display: flex;
    margin: 0;
    padding: 0;
    width: 443px;
    justify-content: space-between;
}

.nav-item {
    font-family: 'Arial';
    font-size: 15px;
    line-height: 160%;
    color: #CDCDCD;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    transition: .3s;
    list-style-type: none;
    margin-right: 25px;
}

.nav-item a {
    text-decoration: none;  
    color: #CDCDCD;
    /* border-bottom: 2px solid #F1CDB3 */
}

a:hover,
a:focus {
   text-decoration: solid 2px #F1CDB3;
}
.last-child {
    margin-right: 0px;
}

.active {
    border-bottom: 2px solid #F1CDB3;
} 

.main-container {
    /* background: url('./assets/images/start-screen-background.png'); */
    background-position: center -180.195px;
    /* background: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%),
    linear-gradient(0deg, #211F20, #211F20); */
    background: url('/assets/images/start-screen-background.png'), 
    radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
    
}

.start-screen {
    margin: 0 auto;
    width: calc(100% - 6.25%);
    display: flex;
    justify-content: space-between;
}

.screen-header {
    font-family: 'Georgia';
    font-size: 44px;
    line-height: 130%;
    align-items: center;
    color: #FFFFFF;
    width: 310px;
    padding-bottom: 42px;
    margin: 0;
    font-weight: 400;
}
.screen-picture {
    background: url('/assets/images/start-screen-puppy.png');
background-repeat: no-repeat;
height: 728px;
width: 698px;
}

.content {
    padding-top: 163px;
    width: 460px;
    /* display: flex; */
}

.screen-text {
    font-family: 'Arial';
    font-size: 15px;
    line-height: 160%;
    align-items: center;
    color: #CDCDCD;
    padding-bottom: 42px;
}

.screen-btn {
    width: 207px;
    height: 52px;
    background: #F1CDB3;
    border-radius: 100px;
    border: 0;
    padding: 0;
    font-family: 'Georgia';
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    
    cursor: pointer;
}

.screen-btn:hover,
.screen-btn:active,
.screen-btn:focus {
    background: #FDDCC4;
   
}

.screen-btn a {
    text-decoration: none;
    color: #292929;
}

.about-wrapper {
    margin: 0 auto;
    width: calc(100% - 6.25%);
    padding-top: 80px;
    display: flex;
    padding-left: 175px;
    padding-right: 175px;
    justify-content: space-between;
    padding-bottom: 100px;
}

.about-picture {
    background: url('/assets/images/about-pets.png');
background-repeat: no-repeat;
height: 408px;
width: 300px;

}

.about-content {
    width: 430px;
}

.about-header {
    font-family: 'Georgia';
    font-size: 35px;
    font-weight: 400;
    line-height: 130%;
    align-items: center;
    letter-spacing: 0.06em;
    color: #545454;
    width: 370px;
    padding: 0;
    margin: 0;
    padding-top: 14px;
    padding-bottom: 25px;
}

.about-text {
    font-family: 'Arial';
    font-size: 15px;
    line-height: 160%;
    color: #4C4C4C;
}

.middle {
    padding-bottom: 25px;
}